/* Default */
body {
  background: #eee;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p, ol li {
    margin-bottom: 15px;
    font-size: 18px;
}

.content img {
    max-width: 100%;
    height: auto;
    margin: 40px auto;
}

/* Sections background */

.intro h2 {
    margin-bottom: 35px;
}

.how-it-works .col-md-4 {
    text-align: center;
    padding: 60px 0;
}

.how-it-works .col-md-push-4 p,
.how-it-works .col-md-push-4 h3 {
    text-align: right;
}

.getting-started h2 {
    color: #6A5687;
}

.web-browser {
    border: 2px solid #abacae;
    border-radius: 4px;
    box-sizing: border-box;
    height: auto;
    margin: 24px auto 24px auto;
    max-width: 100%;
    padding: 42px 0px 0px;
    position: relative;
    text-align: center;
    width: 888px;
}

.web-browser img {
    margin: 0;
}

.web-browser .toolbar {
    border-bottom: 2px solid #abacae;
    padding: 12px;
    padding-top: 9px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.web-browser .toolbar img {
    display: inline-block;
    vertical-align: middle;
}

.web-browser .toolbar .search-bar {
    background-color: #ddd;
    border-radius: 2px;
    display: inline-block;
    height: 20px;
    margin: 0 12px;
    width: calc(100% - 128px);
    vertical-align: middle;
}

.web-browser .actions {
    margin-bottom: 0;
}

.web-browser .img-responsive {
    padding: 4px 2px 2px;
}

#sense3_code {
  min-height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  padding: 24px;
  border-radius: 6px;
}
